<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
</head>
<body>
    <% if(api_key.length != 0 ) {%>
        <form action="/submitSentence" method="POST">
            <input type="text" name="sentence" placeholder="Enter the sentence you want to have speech on!">
            <button type="submit">Send the sentence</button>
        </form>
    <%} else {%>
        <form action="/submitAPIkey" method="POST">
            <h3>API Key Needed</h3>
            <pre>
                You will need to enter your api key for this to work!
                Process:
                    1.Register/Login on rapidapi
                    2.Go to <a href="https://rapidapi.com/kelvin2go/api/text-to-speech27/">text-to-speech27</a>
                    3.Subscribe for the free or paid API as you wish
                    4.Generate the API key and Paste it here
                    5.If any problem arises create issues on github page 
                Note: Only 100 or less request are allowed from an API key for a hour or day!
                        This is the reason I am not using my own API key as few people might overuse it!
                        Also dont worry I am not storing your API key and also Delete that API key from rapidapi
                        after use!
            </pre>
            <input type="text" name="api_key" placeholder="Enter your API key"> 
            <button type="submit">Submit API Key</button>
        </form>
    <% } %>
</body>
</html>